body{
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0;
}

#iniciar, #num{
    font-size: 18px;
}

#status{
    color: white;
}

#rodape{
    position: fixed;
    color: white;
    background-color: blue;
    line-height: 2;
    bottom: 0;
    width: 100%;
    text-align: center;
}
canvas{
    border: 2px double white;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow:15px 15px 15px blue; 
}